NEXT_PUBLIC_APP_NAME=ChemSim Peru
NEXT_PUBLIC_APP_VERSION=0.1.0
NEXT_PUBLIC_APP_URL=http://localhost:3000

OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-flash-1.5

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-haiku-4-5-20251001

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
